<table border="1">
<!--
    <tr>
        <td>NOMBRE</td>
        <td>PRECIO</td>
        <td>CANTIDAD</td>
        <td>ACCION</td>
    </tr>
    <tr *ngFor="let prod of productos">
        <td>{{ prod.nombre }}</td>
        <td>{{prod.precio}}</td>
        <td>{{prod.stock}}</td>
        <td>
            <button type="button" (click)="addCarrito(prod)">+</button>
        </td>
    </tr>

</table>
-->
<p-table [value]="productos">
    <ng-template pTemplate="header">
        <tr>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>CANTIDAD</th>
            <th>ACCION</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.nombre}}</td>
            <td>{{product.precio}}</td>
            <td>{{product.stock}}</td>
            <td>
                <button pButton pRipple icon="pi pi-plus" (click)="addCarrito(product)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<!-- <h2>{{ titulo }}</h2>
<input type="text" [(ngModel)]="titulo">

<img [src]="imagenURL" width="100%" alt="">
<button (click)="addCarrito('Hola desde HTML')">Agregar Carrito</button>

-->