<div class="grid">
    <div class="col-7">
        <div class="card">
            <h6>Lista de Productos</h6>
            <!--
            <h6>{{ tituloDelPadre }}</h6>
            <h6>{{ datodelHijo }}</h6>
            -->

            <app-lista-producto (producto)="asignarProducto($event)" [titulo]="tituloDelPadre"></app-lista-producto>
           
        </div>
    </div>
    <div class="col-5">
        <div class="grid">
            <div class="col-12">
                <div class="card">
                    <h6>Carrito</h6>
                    <table border="1">
                        <tr>
                            <td>NOMBRE</td>
                            <td>PRECIO</td>
                            <td>CANT</td>
                            <td>ACCION</td>
                        </tr>
                        <tr *ngFor="let car of carrito">
                            <td>{{ car.nombre }}</td>
                            <td>{{ car.precio }}</td>
                            <td>{{ car.cantidad }}</td>
                            <td>
                                
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <h6>Cliente</h6>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <h6>Pedido</h6>
                </div>
            </div>
        </div>
        
    </div>
    
</div>